<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>YouTube Analytics Dashboard</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
>

</head>

<body>

    <!-- SIDEBAR -->

    <div class="sidebar">

        <div class="logo">

            <div class="logo-box"></div>

            <h2>YT Analytics</h2>

        </div>

        <div class="menu">

            <a href="/">Dashboard</a>
            <a href="/analytics">Analytics</a>
            <a href="/videos">Videos</a>
            <a href="/reports">Reports</a>
            <a href="/settings">Settings</a>

        </div>

    </div>

    <!-- MAIN CONTENT -->

    <div class="main">

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>